body{
	padding: 0;
	margin: 0;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
}
div.header{
	width: calc(100% - 6rem);
	height: 6rem;
	background-color: rgb(38, 38, 38);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
}
div.logo{
	width: 5rem;
	height: 5rem;
	background: rgb(0, 0, 0);
	border-radius: 100%;
	position: relative;
	border-radius: 100%;
}
div#logo_in{
	content: url();
	position: absolute;
	top: 0;
	left: 5%;
	width: 90%;
	height: 90%;
	display: block;
	background-color: rgb(0, 0, 0);
	border-radius: 100%;
	background-image: url(https://instagram.fppk1-1.fna.fbcdn.net/v/t51.2885-15/e35/115729328_892234564600789_5276454620485538371_n.jpg?_nc_ht=instagram.fppk1-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=qVlnwzO7C4AAX9FU-Ns&tp=18&oh=895697bb8f0b1aa2ded5bfb8da2d8cd2&oe=5FD504C6);
	background-size: contain;
	transition-duration: 1s;
}
div.time{
	font-size: x-large;
}
div.section{
	color: whitesmoke;
	font-size: 120%;
	padding: 0 3rem;
	margin: 2rem 0;
	border-bottom: 2px solid rgb(38, 38, 38);
}
a.sectionhref{
	width: 100%;
	height: 15vh;
	background-color: rgb(38, 38, 38);
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	text-decoration: none;
	text-align: center;
	justify-self: center;
	font-weight: bold;
}
a.sectionhref:hover{
	font-size: 110%;
	color: white;
}
div.aWrapper{
	display: grid;
	width: 100%;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	padding: 1rem 0;
}
textarea#draft{
	outline: none;
	border: none;
	color: rgb(44, 89, 0);
	width: calc(100% - 2rem);
	background-color: rgb(38, 38, 38);
	font-family: Arial, Helvetica, sans-serif;
	padding: 1rem;
	font-size: 105%;
	margin-bottom: 1rem;
}
